/*Default Element Settings*/
:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  margin-left: 10px;
}

/*Drawer Panel Style*/
#core_drawer_panel {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

[main] {
  height: 100%;
  min-width: 320px;
  box-sizing: border-box;
  background-color: rgb(48, 48, 48);
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  overflow: auto;
}

[drawer] {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(66, 66, 66);
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  overflow: auto;
}

#core_toolbar_main {
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  background: rgb(0, 121, 107);
}

#core_toolbar_drawer {
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  background: rgb(0, 150, 136);
}

.content {
  height: 100%;
  width: 100%;
}

/*core menu + item*/
core-menu {
  color: rgb(182, 182, 182);
  margin: 10px 0 0 0;
}

core-menu > paper-item {
  transition: all 200ms ease-in-out;
}

paper-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
}

core-menu > paper-item.core-selected {
  /*background: #e1f5fe;*/
  background: rgb(0, 150, 136);
  color: rgb(255, 255, 255);
}

/*User Profile*/
[drawer] image-mask {
  margin-left: 14px;
  margin-bottom: 5px;
}

[drawer] p {
  margin: 16px 0px 0px 10px;
  font-size: 14px;
}

/*Dropdown*/
paper-dropdown {
  width: 150px;
  background-color: rgb(66, 66, 66);
}

paper-dropdown::shadow #scroller {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: rgb(66, 66, 66);
}

paper-dropdown core-menu paper-item {
  margin: 0px;
  padding: 0px;
}

paper-dropdown core-menu paper-item core-icon, a {
  margin: 0px;
  padding: 0px;
}

/*toast*/
paper-toast {
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  background: rgb(0, 121, 107);
}
