/*Default Element Settings*/
:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
/*Header Panel*/
core-header-panel {
  height: 100%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}
/*Dialog*/
paper-dialog {
  width: 25%;
  min-width: 320px;
  height: 72%;
  max-height: 460px;
  margin: 0px;
  padding: 0px;
  border-radius: 2px;
  position: absolute !important;
  top: 10px;
  right: 25px;
}

paper-dialog::shadow #scroller {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/*Toolbar*/
core-toolbar{
  right: 0px;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  background: rgb(0, 121, 107);
}
/*FAB*/
paper-fab {
  background: rgb(255, 87, 34);
  position: absolute !important;
  bottom: -28px;
  right: 16px;
  z-index: 10;
}
/*Input Area*/
#content {
  margin-top: 20px;
}

#div {
  cursor: pointer;
}
/*Input Fields*/
paper-input {
  width: 94%;
  min-width: 200px;
  max-width: 390px;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

/*Input Fields Decorator*/
paper-input-decorator {
  width: 94%;
  min-width: 200px;
  max-width: 390px;
  margin-left: 10px;
  margin-right: 10px;
}

paper-input-decorator.invalid {
  padding-top: 2px;
}

paper-input-decorator /deep/ ::-webkit-input-placeholder {
  /* platform specific rules for placeholder text */
  color: rgb(33, 33, 33);
}
paper-input-decorator /deep/ ::-moz-placeholder {
  color: rgb(33, 33, 33);
}
paper-input-decorator /deep/ :-ms-input-placeholder {
  color: rgb(33, 33, 33);
}

paper-input-decorator /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background: rgb(33, 33, 33);
}

paper-input-decorator[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: rgb(33, 33, 33);
}

paper-input-decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background: rgb(33, 33, 33);
}

paper-input-decorator.invalid[focused] /deep/ .floated-label .label-text,
paper-input-decorator[focused] /deep/ .error {
  /* floating label, error message and error icon color when the input is invalid and focused */
  color: rgb(211, 47, 47);
}´

paper-input-decorator /deep/ .error {
  /* error message and error icon color when the input is unfocused */
  color: rgb(211, 47, 47);
}

paper-input-decorator.invalid /deep/ .focused-underline {
  /* line and color when the input is invalid and focused */
  background: rgb(211, 47, 47);
}

paper-input-decorator.invalid /deep/ .unfocused-underline {
  /* line and color when the input is invalid and focused */
  background: rgb(211, 47, 47);
}

paper-toast {
  color: rgb(255, 255, 255);
  background: rgb(0, 121, 107);
}
